#title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 16px;
}

.piko-card {
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}

.piko-card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 1em;
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}
/*
.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}
*/